.container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
}

.aside {
    position: relative;
    z-index: 1000;
}

.main {
    z-index: 2;
}

p {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-p);
    color: var(--dark-quartz-grey);
}