.categroy {
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.categroyName {
    padding: 20px;
}

.categroyName:hover {
    background-color: var(--light-gray);
    color: var(--dark-moss-green);
    cursor: pointer;
}

.categroyName > p {
    font-weight: var(--font-weight-bold);
}

/* active */
.activeP {
    color: var(--pumpkin);
}

.activeP::after {
    content: '';
    display: block;
    width: 80%;
    border: 3px solid var(--pumpkin);
    border-radius: 5px;
    transform: translateY(20px);
}
