:root {
    /* color */
    --white: #ffffff;
    --dark-moss-green: #345511;
    --asparagus: #73956f;
    --seasalt: #FCFAF9;
    --pumpkin: #FA8334;
    --night: #121113;
    --dark-quartz-grey: #5E646A;
    --light-gray: #EBECEB;

    /* font */
    --font-size-h1: 24px;

}