.container {
    border-top: 1px solid var(--light-gray);
    position: absolute;
    top: 100px;
    width: 100%;
}

/* 功能列 */
.toolBar {
    /* border: 1px solid red; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    border: none;
    background-color: var(--white);
    border: 2px solid var(--night);
    border-radius: 10px;
    font-weight: var(--font-weight-bold);

    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--night);
    color: var(--white);
    
}

/* 歷史紀錄卡片 */
.section {
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

.section:hover {
    background-color: var(--light-gray);
    cursor: pointer;
}

.listWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.textsWrapper {
    /* border: 1px solid blue; */
    width: 180px;
}

.textsWrapper > p {
    margin-top: 5px;
    line-height: 1.2em;
}

/* .checkbox::before {
    border: 2px solid var(--dark-quartz-grey);
    box-sizing: border-box;
    width: 25px;
    height: 25px;
} */

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
}

.checkbox::before {
    border: 2px solid var(--dark-quartz-grey);
    content: "";
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 2px;
}

.checkbox::before:hover {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: var(--light-gray);
    cursor: pointer;
}

.imgWrapper {
    /* border: 1px solid blue; */
    border-radius: 10px;
    width: 60px;
    height: 60px;
}

.img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* localStorage 無資料 */
.nothing {
    /* border: 1px solid red; */
    width: inherit;
    height: 100px;
    text-align: center;
}

.nothing > h4 {
    margin: 0;
    transform: translateY(200%);
    color: var(--dark-moss-green);
    font-size: var();
}