/* .history {
    border: 1px solid green;
    padding: 15px 0px;
    font-size: 15px;
    color: var(--night);
} */

.history {
    /* border: 1px solid brown; */
    padding: 10px 30px;
    position: relative;
}

.history:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.plantIcon {
    width: 20px;
    height: 20px;
    transform: translate(-50%, 10%);
}

.removeIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 12px;
    cursor: pointer;
}
