.input {
    width: 100%;
    margin: 20px 0; 
    position: absolute;
    z-index: 2000;
}

.input > div:nth-child(1) {
    margin: auto;
    /* border: 1px soild red; */
}

.section {
    position: absolute;
    top: 100px;
    width: 100%;
}

.section > div {
    padding-left: 20px;
}

.section > div:first-child {
    padding: 0;
}